

/* Logo Styling Here */
.App-logo {
  display: block;
  height: 60vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  justify-content: center;
}

.App-logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.landing-page{
  text-align: center;
  justify-content: center;
  height: 100vh;
  display: flex;
}


/* Navbar Styling Here */
.nav-logo img {
  height: 50px;
  width: 50px;
}

#navbar {
  background-color: #292929 !important;
}

.nav-user {
  color: #8d8e8f !important;
  cursor:default;
}

.nav-text {
  color: #8d8e8f !important;
  cursor: pointer;
}

.nav-text:hover {
  color: #3eda50 !important;
}


#basic-navbar-nav {
  color: #8d8e8f !important;
}

/* Sequencer Styling Here */
.sequencer:body {
  background-color: #8d8e8f;
}



/* Button Styling Here */
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #292929 !important;
  border-color: #ffffff00 !important;
  color: #8d8e8f !important;
}
.btn-primary:hover {
  background-color: #3eda50 !important;
  box-shadow: 0 5px 10px #3eda50;
}

.signup-btn {
  margin-bottom: 22px !important;
}


.errors {
  color: red;
}

.fa-circle-question {
  color: #292929 !important;
  font-size: 3vh !important; 
  margin-left: 75vh !important;
  margin-bottom: 3vh !important;
  cursor: pointer !important;
}

.fa-circle-question:hover {
  color: #3eda50 !important;
}

.fa-arrow-right-from-bracket {
  color: #8d8e8f !important;
  font-size: 3vh !important;
  margin-left: 3vh !important;
  cursor: pointer !important;
}

.fa-arrow-right-from-bracket:hover {
  color: #3eda50 !important;
}





/* Animations Here */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .nav-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes nav-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Sequencer styling here */

.sequencer{
  text-align: center;
  margin-top: 100px;
  justify-content: center;
  height: 100vh;
}

.seq {
  width: 4vh;
  height: 5vh;
  padding: 1vh;
  cursor: pointer;
  background-color: #292929 !important;
}

.seq:checked {
  background-color: #3eda50 !important;
}

input[type=checkbox] {
  accent-color: #3eda50 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #8d8e8f !important;
  width: 2vh;
  height: 2vh;
  padding: 1%;
  cursor: pointer;
  background-color: #292929 !important;
}


/* Sidebar styling here */

.sidebar {
  background-color: #292929 !important;
  color: #8d8e8f !important;
  /* box-shadow: inset 0px 0px 15px 1px #3eda50; */
}

.inst-btn {
  text-align: center;
  margin-top: 50px;
  justify-content: center;
}


.sidebar-elements:hover{
  color:#3eda50 !important;
  cursor: pointer;
}

.play-btn {
  margin-right: 500px;
}


/* Modal Styling Here */
.my-modal {
  background-color: #292929 !important;
  color:#3eda50 !important;
}



/* Piano Styling Here */
.piano{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 1vh;
  justify-content: center;
  height: 100vh;
}

.key{
  background-color: #292929;
  height: 30vh;
  width: 6vh;
  border: 0.2vh solid black;
  cursor: pointer;
}

.key-text {
  position: relative;
  color: #8d8e8f;
  font-weight: 600vh;
  font-size: 2.5vh;
  margin-top: 25vh;
  cursor: pointer;
}


.key.flat {
  position: relative;
  background-color: #8d8e8f;
  border: 0.2vh solid black;
  margin-left: -1.5vh;
  margin-right: -10vh;
  height: 20vh;
  width: 3vh;
  z-index: 2;
  cursor: pointer;
}

.key.pressed, .key.flat.pressed {
  background-color: #3eda50;
}

